<p id="notice"><%= notice %></p>

<h1>Listing Tallas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tallas.each do |talla| %>
      <tr>
        <td><%= talla.nombre %></td>
        <td><%= link_to 'Show', talla %></td>
        <td><%= link_to 'Edit', edit_talla_path(talla) %></td>
        <td><%= link_to 'Destroy', talla, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Talla', new_talla_path %>
