<p id="notice"><%= notice %></p>

<h1 class="center">Tipos Documentos</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Siglas</th>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documentos.each do |documento| %>
      <tr>
        <td><%= documento.siglas %></td>
        <td><%= documento.nombre %></td>
        <td><%= link_to 'Editar', edit_documento_path(documento) %></td>
        <td><%= link_to 'Eliminar', documento, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Documento', new_documento_path, class: "btn btn-default btn-lg btn-block"%>
