<%= form_for(@tela) do |f| %>
  <% if @tela.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tela.errors.count, "error") %> prohibited this tela from being saved:</h2>

      <ul>
      <% @tela.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Referencia %><br>
    <%= f.text_field :Referencia %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
