<p id="notice"><%= notice %></p>

<p>
  <strong>Referencia:</strong>
  <%= @tela.Referencia %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @tela.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @tela.descripcion %>
</p>

<%= link_to 'Edit', edit_tela_path(@tela) %> |
<%= link_to 'Back', telas_path %>
