<div class="nested-fields well">
    
      
  
    <div class="field">
      <%= f.label :Color %>
        
      <%= f.collection_select :color_id, Color.all, :id, :nombre,{prompt:'Seleccione Color'} , {class:'form-control'} %> 
    </div>
      
    <div class="field">
      <%= f.label :Talla %>
        
      <%= f.collection_select :talla_id, Talla.all, :id, :nombre,{prompt:'Seleccione Talla'} , {class:'form-control'} %> 
    </div>  
    <div class="field">
      <%= f.label :cantidad %>
      <%= f.text_field :cantidad, class:'form-control' %>
    </div>
      
    <%= link_to_remove_association "Eliminar talla", f, class:'btn btn-default' %>
  

</div>