<%= form_for(@orden) do |f| %>
  <% if @orden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orden.errors.count, "error") %> prohibited this orden from being saved:</h2>

      <ul>
      <% @orden.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :Fecha %><br>
    <%= f.text_field :Fecha, id:'datepicker', class:'form-control' %>
  </div>
  <div class="field">
    <%= f.label :tela_id %><br>
    <%= f.collection_select :tela_id , Tela.all, :id, :nombre, class:'form-control'%>
  </div>
  <div class="field">
    <%= f.label :referencia_id %><br>
    <%= f.text_field :referencia_id, class:'form-control' %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.text_field :cantidad, class:'form-control' %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion, class:'form-control' %>
  </div>
  
  
    <!-- form cocoon  ---partial talla_fields -->
  
  <div id="agregar_tallas">
     <%= f.fields_for :agregar_tallas do |talla| %>
      <%= render 'agregar_talla_fields', f: talla %>
    <% end %>  
    <div class="links">
      <%= link_to_add_association 'add task', f, :agregar_tallas %>
    </div>
      
  </div>
    <!-- form cocoon  -->
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

