<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-8 col-lg-8">
      
  
<p id="notice"><%= notice %></p>

<h1 class="center">Ordenes de Producción</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Orden #</th>
      <th>Fecha</th>
      
      <th>Cantidad</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordenes.each do |orden| %>
      <tr>
        <td><%= orden.id %></td>
        <td><%= orden.Fecha %></td>
        <td><%= orden.cantidad %></td>
        <td><%= orden.descripcion %></td>
        <td><%= link_to 'Detalle', orden %></td>
        <td><%= link_to 'Editar', edit_orden_path(orden) %></td>
        <td><%= link_to 'Eliminar', orden, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


    </div>
    <div class="col-xs-12 col-md-4 col-md-4 col-lg-4">
      <br></br>
<%= form_for(@orden) do |f| %>
  <% if @orden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orden.errors.count, "error") %> prohibited this orden from being saved:</h2>

      <ul>
      <% @orden.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Fecha %><br>
    <%= f.text_field :Fecha, id:'datepicker', class:'form-control' %>
  </div>
 <div class="field">
    <%= f.label :tela_id %><br>
    <%= f.collection_select :tela_id , Tela.all, :id, :nombre, {prompt: 'seleccione Tela'}, {class:'form-control'} %>
  </div>
  <div class="field">
    <%= f.label :referencia_id %><br>
    <%= f.text_field :referencia_id, class:'form-control' %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.text_field :cantidad, class:'form-control' %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion, class:'form-control' %>
  </div>
  
 
  <!-- form cocoon  ---partial talla_fields -->
  
  <div id="agregar_tallas">
     <%= f.fields_for :agregar_tallas do |talla| %>
      <%= render 'agregar_talla_fields', f: talla %>
    <% end %>  
    <div class="links">
      <%= link_to_add_association 'add task', f, :agregar_tallas %>
    </div>
      
  </div>
    <!-- form cocoon  -->
  
  
  <div class="actions">
    <%= f.submit nil, :class => 'btn btn-default btn-lg btn-block' %>
  </div>
<% end %>
      
    </div>  
  </div>
</div>




