<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @orden.Fecha %>
</p>



<p>
  <strong>Cantidad:</strong>
  <%= @orden.cantidad %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @orden.descripcion %>
</p>
<h2>Tallas</h2>
<ul>
  <!-- el for para traer la carrecta informacion --- ver helper-- -->
    <% for agregar_talla in @orden.agregar_tallas %>
        <div class="well">
          <li><%= h mostrarColor(agregar_talla.color_id) %></li>
          <li><%= h mostrarTalla(agregar_talla.talla_id) %></li>
          <li><%= agregar_talla.cantidad %></li>
        </div>
    <% end %>
</ul>
<br>
<%= link_to 'Edit', edit_orden_path(@orden) %> |
<%= link_to 'Back', ordenes_path %>
