<!DOCTYPE html>
<html>
<head>
  <title>Produccion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>    

<body>


<div class="container">
  
<%= yield %>
</div>


</body>
<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
</html>
